extends ../includes/layout

block header
    include ../includes/nav
block content

    .container
        .row.justify-content-center.mt-3
            .col-lg-5.col-md-6.col-sm-7.col-8.border.border-top-0.shadow.p-0
                if breadcrumbs
                    nav(aria-label="breadcrumb")
                        ol.breadcrumb
                            each crumb,index in breadcrumbs
                                if (index+1) == breadcrumbs.length
                                    li.breadcrumb-item.active(aria-current="page")= crumb.name
                                else
                                    li.breadcrumb-item
                                        a(href=crumb.url)= crumb.name
                .bg-info.text-white.text-center.lead.rounded-top.p-2 Reset Form
                if tokenErrorMessage
                    .alert.alert-danger.rounded-0.mt-2.text-center(role="alert") #{tokenErrorMessage}
                else 
                    if errorMessage
                        .alert.alert-danger.rounded-0.mt-2.text-center(role="alert") #{errorMessage}
                    form.main-form.p-3.m-2.needs-validation(action="" method="POST" novalidate)
    
                        .form-group
                            label(for="password") New Password
                            .input-group 
                                .input-group-prepend
                                    .input-group-text
                                        i.fa.fa-lock
                                input.form-control#password(type="password", name="password")
                        .form-group
                            label(for="confirmPassword") Confirm New Password
                            .input-group 
                                .input-group-prepend
                                    .input-group-text
                                        i.fa.fa-lock
                                input.form-control#confirmPassword(type="password", name="confirmPassword")
                        input(type="hidden" name="userId" value=userId )
                        input(type="hidden" name="passwordToken" value=passwordToken )
                        input(type="hidden" name="_csrf" value=csrfToken )
                        button.btn.btn-info.mt-3(type="submit") Submit